.textinput-form {
    height: 5vh;
    line-height: 20;
    font-size: 2rem;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
}

.head-about-us {
    font-family: 'Great Vibes';
    font-size: 36px;
    text-align: center;
    
}

.p-about-us {
    font-family: 'Lato';
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}

