.textinput-form {
    height: 5vh;
    line-height: 3vh;
    font-size: 2vh;
}

html {
    scroll-behavior: smooth;
}  

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
}

.head-about-us {
    font-family: 'Great Vibes';
    text-align: center;
    font-size: 9vh;
    color: #ffffff;
}

.p-about-us {
    font-family: 'Lato';
    font-size: 3vh;
    text-align: center;
    font-style: italic;
    color: #ffffff;
}

.head-contact-us {
    font-family: 'Great Vibes';
    text-align: center;
    font-size: 9vh;
    color: #891919;
    font-style: bold;
}

.p-contact-us {
    font-family: 'Lato';
    font-size: 3vh;
    text-align: center;
    font-style: italic;
    color: #891919;
}

.footer-socialite{
    color: #ffffff;
}

.reservation {
    margin-bottom: 0.3rem;
}

